In [2]:
import pandas as pd
import os
import matplotlib.pyplot as plt
import scipy.stats as st
from scipy.stats import linregress
import numpy as np

In [11]:
file_path_tx = 'Resources/Tx_cause_of_death_1999-2018.csv'
file_path_ca = 'Resources/Ca_cause_of_death_1999-2018.csv'
tx_death_by_year = pd.read_csv(file_path_tx)
ca_death_by_year = pd.read_csv(file_path_ca)
ca_death_by_year.head()

        State  Year  Deaths  Population  Crude Rate
0  California  1999    2959    33499204         8.8
1  California  2000    3036    33871648         9.0
2  California  2001    3136    34479458         9.1
3  California  2002    3344    34871843         9.6
4  California  2003    3355    35253159         9.5

In [12]:
tx_death_by_year.head()

   State  Year  Deaths  Population  Crude Rate
0  Texas  1999    2084    20558220        10.1
1  Texas  2000    2133    20851820        10.2
2  Texas  2001    2308    21319622        10.8
3  Texas  2002    2257    21690325        10.4
4  Texas  2003    2381    22030931        10.8