http://wonder.cdc.gov/wonder/help/mcd.html#2014-Revision.

In [23]:
import pandas as pd
import os
import matplotlib.pyplot as plt
import scipy.stats as st
from scipy.stats import linregress
import numpy as np
output_file = 'Resources/combined_data.csv'

In [11]:
file_path_tx = 'Resources/Tx_cause_of_death_1999-2018.csv'
file_path_ca = 'Resources/Ca_cause_of_death_1999-2018.csv'
tx_death_by_year = pd.read_csv(file_path_tx)
ca_death_by_year = pd.read_csv(file_path_ca)
ca_death_by_year.head()

        State  Year  Deaths  Population  Crude Rate
0  California  1999    2959    33499204         8.8
1  California  2000    3036    33871648         9.0
2  California  2001    3136    34479458         9.1
3  California  2002    3344    34871843         9.6
4  California  2003    3355    35253159         9.5

In [12]:
tx_death_by_year.head()

   State  Year  Deaths  Population  Crude Rate
0  Texas  1999    2084    20558220        10.1
1  Texas  2000    2133    20851820        10.2
2  Texas  2001    2308    21319622        10.8
3  Texas  2002    2257    21690325        10.4
4  Texas  2003    2381    22030931        10.8

In [20]:
comp_file = pd.merge(tx_death_by_year, ca_death_by_year, how='left', on=['Year'])
comp_file

,State_x,Year,Deaths_x,Population_x,Crude Rate_x,State_y,Deaths_y,Population_y,Crude Rate_y
0,Texas,1999,2084,20558220,10.1,California,2959,33499204,8.8
1,Texas,2000,2133,20851820,10.2,California,3036,33871648,9.0
2,Texas,2001,2308,21319622,10.8,California,3136,34479458,9.1
3,Texas,2002,2257,21690325,10.4,California,3344,34871843,9.6
4,Texas,2003,2381,22030931,10.8,California,3355,35253159,9.5
5,Texas,2004,2304,22394023,10.3,California,3224,35574576,9.1
6,Texas,2005,2452,22778123,10.8,California,3353,35827943,9.4
7,Texas,2006,2389,23359580,10.2,California,3270,36021202,9.1
8,Texas,2007,2518,23831983,10.6,California,3166,36250311,8.7
9,Texas,2008,2558,24309039,10.5,California,3084,36604337,8.4
10,Texas,2009,2641,24801761,10.6,California,3010,36961229,8.1
11,Texas,2010,2669,25145561,10.6,California,2858,37253956,7.7
12,Texas,2011,2553,25674681,9.9,California,2904,37691912,7.7
13,Texas,2012,2683,26059203,10.3,California,2941,38041430,7.7
14,Texas,2013,2730,26448193,10.3,California,2918,38332521,7.6
15,Texas,2014,2794,26956958,10.4,California,2838,38802500,7.3
16,Texas,2015,3147,27469114,11.5,California,2984,39144818,7.6
17,Texas,2016,3285,27862596,11.8,California,3098,39250017,7.9
18,Texas,2017,3444,28304596,12.2,California,3083,39536653,7.8
19,Texas,2018,3445,28701845,12.0,California,2938,39557045,7.4

In [24]:
comp_file.to_csv(output_file, index=False)