In [18]:
import pandas as pd
import os
import matplotlib.pyplot as plt
import scipy.stats as st
from scipy.stats import linregress
import numpy as np

pop_file_path = "../population/data_set/pop_data.csv"
guns_file_path = "../output_data/guns_state.csv"
pop_file_df = pd.read_csv(pop_file_path)
guns_file_df = pd.read_csv(guns_file_path)
pop_file_df
# guns_file_df

,State,Population 2010,Population 2011,Population 2012,Population 2013,Population 2014,Population 2015,Population 2016,Population 2017,Population 2018,Population 2019
0,California,37319502,37638369,37948800,38260787,38596972,38918045,39167117,39358497,39461588,39512223
1,Texas,25241971,25645629,26084481,26480266,26964333,27470056,27914410,28295273,28628666,28995881

In [19]:
guns_file_df

      YEAR STATE  RATE  DEATHS
0   2018.0    CA   7.5  3040.0
1   2018.0    TX  12.2  3522.0
2   2017.0    CA   7.9  3184.0
3   2017.0    TX  12.4  3513.0
4   2016.0    CA   7.9  3184.0
5   2016.0    TX  12.1  3353.0
6   2015.0    CA   7.7  3095.0
7   2015.0    TX  11.7  3203.0
8   2014.0    CA   7.4  2942.0
9   2014.0    TX  10.7  2848.0
10  2005.0    CA   9.5  3453.0
11  2005.0    TX  11.1  2490.0

In [22]:
pop_file_df = pop_file_df.loc[:, ['State', 'Population 2014', 'Population 2015', 'Population 2016', 'Population 2017', 'Population 2018']]
pop_file = pop_file_df.rename(columns={'State': 'STATE', 'Population 2014': '2014', 'Population 2015': '2015', 'Population 2016': '2016', 'Population 2017': '2017', 'Population 2018': '2018'})
pop_file

        STATE      2014      2015      2016      2017      2018
0  California  38596972  38918045  39167117  39358497  39461588
1       Texas  26964333  27470056  27914410  28295273  28628666